#spill {
    width: 600px;
    height: 200px;
    border: 1px solid;
    margin: auto;

}

#dino {
    background-image: url("dino.png");
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
    position: relative;
    top: 135px;

}